@import "../../../styles/Variables.scss";

.color-settings {
    padding: 20px;
    border-bottom: 1px solid rgba($color: $background-light-gray, $alpha: 0.1);
    &__title {
        display: block;
        text-transform: uppercase;
        color: $font-light;
        margin-bottom: 20px;
    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    &__presets {
        padding: 20px;

        &-item {
            cursor: pointer;
            border-radius: 3px;
            border: none;
            overflow: hidden;
            outline: none;
            &.active {
                box-shadow: 0 0 0 1px $background-colored;
            }
        }
        &-image {
            display: block;
            width: 100%;
        }
    }
}
