$background-main: #1B1B22;
$background-darken: #16161D;
$background-dark-gray: #27272F;
$background-colored: #6446C0;
$background-light: #B8B8C9;
$background-light-gray: #868697;
$background-colored-alter: #1BE4C9;

$font-light: #BEBEC0;

@mixin input-range-shadow {
    box-shadow: 0 0 10px 2px rgba($color: #000000, $alpha: .25);
}

@mixin input-range-shadow--active {
    box-shadow: 0 2px 15px 2px rgba($color: #000000, $alpha: .5);
}