@import '../../styles/Variables.scss';

.main-window {
    background-color: $background-main;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-columns: 100px auto 300px;
    &--header {
        grid-column: span 3;
    }
    &--left-sidebar {
        grid-column: span 1;
    }
    &--main {
        grid-column: span 1;
    }
}