@import "../../styles/Variables.scss";

.blank {
    &__section {
        height: 100%;
        display: flex;
        align-items: center;
    }
}

.main-window {
    background-color: $background-main;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px calc(100vh - 80px);
    grid-template-columns: 100px auto 300px;
    &--header {
        grid-column: span 3;
    }
    &--left-sidebar {
        grid-column: span 1;
    }
    &--right-sidebar {
        max-height: 100vh;
    }
    &--main {
        grid-column: span 1;
    }
    &__blank {
        width: 100%;
        max-width: 40vw;
        margin: 0 auto;
        min-height: 60vh;
        border-radius: 3px;
        border: 2px dashed $background-gray;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $font-light-gray;
        &-text {
            display: block;
            margin-top: 20px;
            text-align: center;
        }
    }
}
