@import '../../styles/Variables.scss';

.header {
    &__section {
        background-color: $background-darken;
        min-height: 80px;
        display: flex;
        align-items: center;
        padding: 5px 20px;
    }
}